services:
  web:
    build: .
    container_name: python-server
    ports:
      - "8000:80"
    volumes:
      - ./src:/code/src
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    command: uvicorn src.main:app --host 0.0.0.0 --port 80 --reload

  redis:
    image: redis:alpine
    container_name: redis-service
    ports:
      - "6379:6379"
